#gameBoardContainer {
    display: grid;
    width: max-content;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}

.gameBoard {
    font-size: 2em;
    text-align: center;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);

}